@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-4 py-2 rounded-lg font-medium inline-flex items-center justify-center tracking-tight
  }

  .btn-primary {
    @apply bg-black text-white
  }

  .btn-text {
    @apply text-black bg-transparent
  }

  .logo-ticker-image {
    @apply h-8 w-auto
  }

  .tag {
    @apply text-sm inline-flex border border-[#222]/10 px-3 py-1 rounded-lg tracking-tight
  }

  .section-title {
    @apply text-center text-3xl md:text-[54px] md:leading-[60px] font-bold tracking-tighter bg-gradient-to-b from-black to-[#001E80] text-transparent bg-clip-text
  }

  .section-description {
    @apply text-center text-[22px] leading-[30px] tracking-tight text-[#010D3E]
  }

  .section-heading {
    @apply max-w-[1200px] mx-auto
  }

  .card {
    @apply p-10 border border-[#222222]/10 rounded-3xl shadow-[0_7px_14px_#EAEAEA] max-w-xs w-full
  }

  .logo-ticker-icon {
    font-size: 5rem; /* Adjust size of the icons */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transitions */
  }

  .logo-ticker-icon:hover {
    transform: scale(1.2); /* Slightly enlarge the icon when hovered */
    opacity: 0.8; /* Add some opacity change for a hover effect */
  }

  @media (max-width: 768px) {
    .logo-ticker-icon {
      font-size: 2rem; /* Reduce size on smaller screens */
    }
  }
}
