/docker_volumes/*
backend/bin/server
backend/cmd/server/*.exe
backend/bin/pb_data/*
backend/.vscode/settings.json
docker_volumes/**
frontend/package-lock.json
backend/pb_data/*

/frontend/node_modules
/frontend-b/
/caddy/certs

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/pkg/mod
/backend/cmd/server/pb_data/**
bin/dlv
backend/.envrc
caddy/certs/caddy/acme/acme-staging-v02.api.letsencrypt.org-directory/users/default/default.json
db/data.db
db/logs.db
backend/cmd/internal/pb_data/data.db
backend/cmd/internal/pb_data/logs.db
backend/bin/internal
frontend/.vite/deps/_metadata.json
frontend/.vite/deps/package.json
asd.session.sql
BenningDB.session.sql
.vscode/settings.json
db/data.db-shm
db/data.db-wal
docs/public/*